/* form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
} */

.container-cad {
    width: 1080px;
    margin: 10px auto;
    display: flex;
}
#car-register, #car-owner {
    align-items: center;
    flex-direction: column;
    /* width: 50vw;
    height: 30vh; */
}